.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}

/* styles.css */
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.text-field {
    -fx-font-size: 12px;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px;
}